<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GNUKhata | Projects</title>
  <style media="screen">
  .rightJustified {
    text-align: right;
  }
  /*
  Force table width to 100%
  */
  table.table-fixedheader {
    width: 100%;
  }
  /*
  Set table elements to block mode.  (Normally they are inline).
  This allows a responsive table, such as one where columns can be stacked
  if the display is narrow.
  */
  table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
    display: block;
  }
  table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after  {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  /*
  When scrolling the table, actually it is only the tbody portion of the
  table that scrolls (not the entire table: we want the thead to remain
  fixed).  We must specify an explicit height for the tbody.  We include
  100px as a default, but it can be overridden elsewhere.

  Also, we force the scrollbar to always be displayed so that the usable
  width for the table contents doesn't change (such as becoming narrower
  when a scrollbar is visible and wider when it is not).
  */
  table.table-fixedheader>tbody {
    overflow-y: scroll;
    height: 50%;

  }
  /*
  We really don't want to scroll the thead contents, but we want to force
  a scrollbar to be displayed anyway so that the usable width of the thead
  will exactly match the tbody.
  */
  table.table-fixedheader>thead {
    overflow-y: scroll;
    height: 26px;
  }
  /*
  For browsers that support it (webkit), we set the background color of
  the unneeded scrollbar in the thead to make it invisible.  (Setting
  visiblity: hidden defeats the purpose, as this alters the usable width
  of the thead.)
  */
  table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
  }


  table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
    content:' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
  }

  /*
  We want to set <th> and <td> elements to float left.
  We also must explicitly set the width for each column (both for the <th>
  and the <td>).  We set to 20% here a default placeholder, but it can be
  overridden elsewhere.
  */

  table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
    float: left;
  }

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  td {
    font-size: 80%;
  }

  th {
    font-size: 75%;
  }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="alert alert-success" id="success-alert" aria-live="rude" role="alert" hidden>

      Project saved.
    </div>
    <div class="alert alert-danger" id="failure-alert" aria-live="rude" role="alert" hidden>

      Project could not be saved.
    </div>
    <div class="alert alert-danger" id="blank-alert" aria-live="rude" role="alert" hidden>

      Please enter project name!
    </div>
    <div class="alert alert-danger" id="duplicate-alert" aria-live="rude" role="alert" hidden>

      Project already exists!
    </div>
    <div class="alert alert-danger" id="transaction-alert" aria-live="rude" role="alert" hidden>

      Project cannot be deleted!
      Transactions might be remaining for this project.
    </div>
    <div class="col-md-4">
      <div class="panel shadow">
        <div class="panel-heading">
          <h3 id = "addid" class="panel-title">Add Cost Center</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" id="prjform">
            <label id="prjlbl" for="prjname">Pro<u>j</u>ect Name: </label>
            <input type="text" name="projectname" class="form-control" id="prjname" accesskey="j">
            <br>
            <label id="amtlbl" for="prjamount">Sanc<u>t</u>ioned Amount: </label>
            <input class="form-control rightJustified" id="prjamount" name="sanctionedamount" placeholder="0.00" accesskey="t">
            <br>
            <button type="submit" class="btn btn-success" accesskey="a"><u>A</u>dd</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-8" id="prjlistpanel">
      <div class=" panel shadow">

      <div class="panel-heading">
        <h3 id="listid" class="panel-title">Cost Center List</h3>
      </div>
      <div class="panel-body">
        <table id="prjtable" class="table col-xs-5 table-condensed table-fixedheader">
          <thead>
            <tr>
              <th id="prjlbltbl" class="col-xs-7">
                Project Name
              </th>
              <th id="amtlbltbl" class="col-xs-3 rightJustified">
                Sanctioned Amount
              </th>
              <th class="col-xs-1" style="text-align:center;">
                Delete
              </th>
              <th class="col-xs-1" style="text-align:center;">
                Edit
              </th>
            </tr>
          </thead>
          <tbody>
            {% for prjs in projects %}
            <tr value="{{prjs['projectcode']}}">
              <td class="col-xs-7">
                {{prjs['projectname']}}
              </td>
              <td class="col-xs-3 rightJustified">
                {{prjs['sanctionedamount']}}
              </td>
              <td class="col-xs-1" style="text-align:center;">
                <a href="#" class="delprj"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
              </td>
              <td class="col-xs-1" style="text-align:center;">
                <a href="#" class="editprj"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
    </div>



  </div>
  <div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">

            <h4 class="modal-title">Delete?</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            <button type="button" id="prjdel" data-dismiss="modal" class="btn btn-danger">Delete</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div>

  <div id="m_editprj" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Edit Project</h4>
        </div>
        <form class="form-horizontal" id="m_editform">
          <div class="modal-body">
            <label for="m_prjname">Project name: </label>
            <input type="text" class="form-control" id="m_prjname">
            <br>
            <label for="m_prjamount">Sanctioned Amount: </label>
            <input class="form-control rightJustified" id="m_prjamount" placeholder="0.00">
          </div>
          <div class="modal-footer">
            <button type="submit" id="m_edit" data-dismiss="modal" data-backdrop="false" class="btn btn-success" accesskey="s"><u>S</u>ave</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/project.js')}}"></script>
</body>
</html>
